@import "tailwindcss";

body {
    background-color: var(--color-tinted-neutral-900);
    font-family: "Inter";
}
@theme {
    --color-primary-50: #edb8ff;
    --color-primary-100: #e8a3ff;
    --color-primary-200: #de7aff;
    --color-primary-300: #d352ff;
    --color-primary-400: #c929ff;
    --color-primary-500: #bf00ff;
    --color-primary-600: #a000d6;
    --color-primary-700: #8200ad;
    --color-primary-800: #630085;
    --color-primary-900: #45005c;

    --color-secondary-50: #b8ffed;
    --color-secondary-100: #a3ffe8;
    --color-secondary-200: #7affde;
    --color-secondary-300: #52ffd3;
    --color-secondary-400: #29ffc9;
    --color-secondary-500: #00ffbf;
    --color-secondary-600: #00d6a0;
    --color-secondary-700: #00ad82;
    --color-secondary-800: #008563;
    --color-secondary-900: #005c45;

    --color-accent-50: #efcada;
    --color-accent-100: #eabbcf;
    --color-accent-200: #e19cba;
    --color-accent-300: #d87ea5;
    --color-accent-400: #ce5f90;
    --color-accent-500: #c5417b;
    --color-accent-600: #a53767;
    --color-accent-700: #862c54;
    --color-accent-800: #662240;
    --color-accent-900: #47172c;

    --color-tinted-neutral-50: #f5f4f6;
    --color-tinted-neutral-100: #e3e2e5;
    --color-tinted-neutral-200: #cac9cd;
    --color-tinted-neutral-300: #b1b0b5;
    --color-tinted-neutral-400: #98969d;
    --color-tinted-neutral-500: #7f7c85;
    --color-tinted-neutral-600: #65626b;
    --color-tinted-neutral-700: #4b4851;
    --color-tinted-neutral-800: #312e37;
    --color-tinted-neutral-900: #0a040c;
}

@layer components {
    .header-default {
        @apply text-primary-500 flex-center h-[80px] w-full gap-[140px] text-base font-semibold;
    }

    .header-back {
        @apply text-primary-500 flex h-[80px] w-full items-center justify-start gap-1 pl-10 text-base font-semibold;
    }

    .header-item {
        @apply flex-center;
    }

    .gradient-divider-top {
        @apply from-tinted-neutral-900 to-tinted-neutral-800 top-[800px] h-[72px] w-full bg-linear-to-b from-0% to-100%;
    }

    .gradient-divider-bottom {
        @apply from-tinted-neutral-900 to-tinted-neutral-800 top-[800px] h-[72px] w-full bg-linear-to-t from-0% to-100%;
    }

    .card-work-container {
        @apply flex-center bg-tinted-neutral-900 hover:bg-accent-500 h-auto w-full pt-5 pb-5 transition duration-300 ease-in;
    }

    .card-work-container-flex-left {
        @apply flex size-auto transition duration-100 ease-in group-hover:-translate-x-120 group-hover:-skew-x-20;
    }

    .card-work-container-flex-right {
        @apply flex size-auto transition duration-100 ease-in group-hover:translate-x-120 group-hover:-skew-x-20;
    }

    .card-work-container-size {
        @apply h-[480px] max-h-[480px] w-[755px] max-w-[755px];
    }

    .card-work-design-top {
        @apply bg-tinted-neutral-50 absolute z-10 hidden h-[400px] max-h-[400px] w-[675px] max-w-[675px] group-hover:block;
    }

    .card-work-main {
        @apply group-hover:flex-center absolute z-30 translate-x-10 translate-y-[40px] flex-col gap-16 border group-hover:pr-16;
    }

    .card-work-text-hover {
        @apply group-hover:flex-center group-hover:skew-x-20;
    }

    .card-work-text-desc {
        @apply text-tinted-neutral-900 hidden max-w-[400px] text-justify opacity-0 transition-discrete group-hover:block group-hover:skew-x-20 group-hover:opacity-100;
    }

    .card-work-design-bottom {
        @apply bg-tinted-neutral-900 absolute z-10 hidden h-[400px] max-h-[400px] w-[675px] max-w-[675px] translate-x-20 translate-y-20 group-hover:block;
    }

    .card-work-left {
        @apply bg-tinted-neutral-100 flex h-[400px] max-h-[400px] w-[675px] max-w-[675px] items-start justify-end pb-10 pl-10;
    }

    .card-work-right {
        @apply bg-tinted-neutral-100 ml-[456px] flex h-[400px] max-h-[400px] w-[675px] max-w-[675px] items-end justify-end pr-10 pb-10;
    }

    .card-work-text-left {
        @apply flex h-auto w-auto flex-col items-start justify-start gap-1;
    }

    .card-work-text-right {
        @apply flex h-auto w-auto flex-col items-end justify-start gap-1;
    }

    .card-research {
        @apply bg-tinted-neutral-200 m-10 flex h-[680px] max-h-[680px] w-[500px] max-w-[500px] items-start justify-start pt-10 pl-10;
    }

    .card-research-text {
        @apply flex h-auto w-auto flex-col items-start justify-start gap-1;
    }

    .footer {
        @apply flex-center h-[124px] w-full flex-col gap-5 pt-4 pb-4;
    }
}

@utility flex-center {
    @apply flex items-center justify-center;
}
